certifi==2024.8.30
distlib==0.3.8
docopt==0.6.2
filelock==3.12.2
importlib-metadata==6.7.0
num2words==0.5.13
pipenv==2023.10.3
platformdirs==4.0.0
six==1.16.0
transliterate==1.10.2
typing_extensions==4.7.1
virtualenv==20.26.4
zipp==3.15.0
